.content {
	&--contacts {
		.contacts {
			padding: 15px 0 75px 0;
			h2 {
				font-size: 23px;
				color: #373737;
				text-align: left;
				padding-bottom: 20px;
				border-bottom: 1px solid #d0d0d0;
			}
			p {
				color: #787878;
				font-size: 16px;
				margin-top: 15px;
				text-align: left;
				line-height: 1.5;
			}
			form {
				margin-top: 35px;
				max-width: 640px;
				@media #{$desctop-md} {
					max-width: 500px;
				}
				@media #{$desctop} {
					max-width: 425px;
				}
				label {
					color: #373737;
					font-size: 15px;
					font-weight: 700;
					margin-bottom: 10px;
					float: left;
				}
				textarea {
					margin-bottom: 20px;
					resize: none;
				}
				input {
					height: 40px;
				}
				.form-control {
					border-radius: 0px;
					box-shadow: none;
					border: 1px solid #d0d0d0;
					@include addPrefixPlaceholder(placeholder, font, 400 normal 16px $MainFont);
					@include addPrefixPlaceholder(placeholder, color, $main_color);
					&:focus {
						border: 1px solid #373737;
						box-shadow: 0px 0px 0px 1px #373737;
						@include addPrefixPlaceholder(placeholder, color, #5c5c5c);
						@include addPrefixPlaceholder(placeholder, font-size, 16px);
					}	
				}
				.btn {
					width: 240px;
					height: 40px;
					font-size: 15px;
					text-transform: uppercase;
					float: right;
					font-weight: 700;
					@media #{$mobile} {
						float: left;
					}
				}
			}
			&_socials {
				margin-top: 20px;
				margin-bottom: 30px;
				p, ul {
					display: inline-block;
				}
				p {
					color: #696969;
					font-size: 12px;
					text-transform: uppercase;
					margin-top: 0px;
					margin-right: 20px;
					@media #{$mobile} {
						display: block;
						margin-bottom: 5px;
						margin-right: 0px;
					}
				}
				ul {
					vertical-align: middle;
					li {
						float: left;
						margin-right: 8px;
						text-align: center;
						a {
							width: 30px;
							height: 30px;
							padding: 6px 0;
							border: 1px solid #797979;
							border-radius: 50%;
							font-size: 16px;
							transition: $main_transition;
							&:hover {
								border-color: $turq;
								color: $turq;
							}
						}
					}
				}
			}
			&_address {
				span, p, a {
					display: inline-block;
				}
				span {
					border: 1px solid #d0d0d0;
					width: 40px;
					height: 40px;
					// margin-right: 15px;
					vertical-align: middle;
					font-size: 18px;
					position: relative;
					text-align: center;
					position: absolute;
					left: 0px;
					@media #{$desctop} {
						font-size: 16px;
						// margin-right: 5px;
						width: 30px;
						height: 30px;
					}
					&:before {
						position: absolute;
						padding: 11px;
						top: 0px;
						bottom: 0px;
						right: 0px;
						left: 0px;
						margin: auto;
						@media #{$desctop} {
							padding: 6px;
						}
					}
				}
				p, a {
					margin-top: 0px;
					color: #696969;
					font-size: 15px;
					@media #{$desctop} {
						font-size: 13px;
					}
				}
				a {
					transition: $main_transition;
					&:hover {
						color: $turq;
					}
				}
				ul {
					li {
						margin-bottom: 18px;
						padding-left: 45px;
						position: relative;
						a {
							position: relative;
							margin-right: 6px;
							&:after {
								content: ',';
								position: absolute;
								right: -3px;
							}
							&:last-child {
								&:after {
									display: none;
								}
							}
						}
					}
				}
			}
			&_left {
				text-align: left;
			}
			&_right {
				@media #{$mobile} {
					margin-top: 40px;
				}
				// margin-left: 20px;
			}
		}
	}
}
.map {
	padding: 70px 0 25px 0;
	&_block {
		min-height: 435px;
	}
}