#BuyModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
        h4.modal-title Быстрый заказ
      .modal-body.clearfix
        .modal-body_top
          .modal-body_img
            img(src=require('../components/images/ceresit-pic-2.jpg'), alt='')
          .modal-body_quantity
            span.plus +
            input.input(value='1', type='')
            span.minus -
          .modal-body_name
            h5 Клей для плитки CERESIT СМ-11 (25 кг)
          .modal-body_cost
            p Сумма к оплате: 103.00 грн
        .modal-body_bottom
          h6 Заполните поля ввода
      .modal-footer
        form
          .row
            .form-group.col-sm-6
              label(for='name') Ваше имя
              input.form-control#name(type='text', name='name', placeholder='Введите ваше имя', required)
            .form-group.col-sm-6
              label(for='email') E-mail
              input.form-control#email(type='text', name='email', placeholder='E-mail', required)
            .form-group.col-sm-6
              label(for='tel') Телефон
              input.form-control#tel(type='text', name='tel', placeholder='Телефон', required)
            .form-group.col-sm-6
              button(type='submit').btn.turq-btn Заказать 