footer
	.footer#footer
		//- .footer_top
		//- 	.container_content
		//- 		.row
		//- 			.col-sm-4
						
		//- 			.col-sm-2
						
		//- 			.col-sm-3
						
		//- 			.col-sm-3
						
		.footer_main
			.container_content
				.row
					.col-md-4.col-sm-6
						.footer_main_list.footer_contacts
							h6 Контакты
							.row
								.col-sm-3
									p.footer_contacts_title
										span Address:
								.col-sm-8
									p AddLorem ipsum dolor sit amet, consectetur ress
							.row
								.col-sm-3
									p.footer_contacts_title
										span Phone:
								.col-sm-8
									a(href="tel:+380000000000").footer_main_list-tel
										| (000) 00 00 000
									//- br
									a(href="tel:+380000000000").footer_main_list-tel
										| (000) 00 00 000
							.row
								.col-sm-3
									p.footer_contacts_title
										span E-mail:
								.col-sm-8
									a(href="mailto:molotok@gmail.com")
										| molotok@gmail.com
					.col-md-2.col-sm-6
						.footer_main_list.footer_accounts
							h6 Аккаунт
							ul
								li
									a(href="enter.html") Мой аккаунт
								li
									a(href="orders.html") Мои заказы
								li
									a(href="cart.html") Моя корзина
								li
									a(href="enter.html") Вход
								li
									a(href="registration.html") Регистрация
					.col-md-3.col-sm-6
						.footer_main_list.footer_menu
							h6 Меню
							ul
								li
									a(href="./") Главная
								li
									a(href="category.html") Каталог Товаров
								li
									a(href="company.html") О Компании
								li
									a(href="delivery.html") Оплата и доставка
								li
									a(href="contacts.html") Контакты
								li
									a(href="blog.html") Блог
								li
									a(href="delivery.html") Прайс
					.col-md-3.col-sm-6
						.footer_main_list.footer_cart
							h6 Ваша корзина
							p.quantity В корзине 4 товара
							p.price на сумму 18 850.00 грн
							.footer_main_blk
								a(href="#").footer_main_box
									.footer_main_img(style='background-image: url(' + require('../components/images/pic-9.png') + ')')
									.footer_main_name Product...
								a(href="#").footer_main_box
									.footer_main_img(style='background-image: url(' + require('../components/images/pic-4.png') + ')')
									.footer_main_name Product...
								a(href="#").footer_main_box
									.footer_main_img(style='background-image: url(' + require('../components/images/pic-7.png') + ')')
									.footer_main_name Product...
							a(href="cart.html").to-cart Перейти в корзину
								object
									span.fa.fa-shopping-cart
		.footer_bottom
			.container_content
				.row
					.col-sm-6
						a(href="http://unitspace.top").production Production by:
					.col-sm-6
						p.copyright 
							| © Molotok 
							span#year
							| All Rights Reserved.