.data-item
	.row
		.col-sm-4
			a(href="#").news_box
				.news_box_img(style='background-image:url(' + require('./components/images/news-photo-1.jpg') + ')')
				.news_box_data
					.day 18
					span
						.month december 2017
						p Lorem ipsum dolor sit
				p.news_box_text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo pellentesque tincidunt. Pellentesque at consectetur.
				object(data="", type="")
					a(href="#").read-more Read more
		.col-sm-4
			a(href="#").news_box
				.news_box_img(style='background-image:url(' + require('./components/images/news-photo-2.jpg') + ')')
				.news_box_data
					.day 18
					span
						.month december 2017
						p Lorem ipsum dolor sit
				p.news_box_text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo pellentesque tincidunt. Pellentesque at consectetur.
				object(data="", type="")
					a(href="#").read-more Read more
		.col-sm-4
			a(href="#").news_box
				.news_box_img(style='background-image:url(' + require('./components/images/news-photo-3.jpg') + ')')
				.news_box_data
					.day 18
					span
						.month december 2017
						p Lorem ipsum dolor sit
				p.news_box_text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo pellentesque tincidunt. Pellentesque at consectetur.
				object(data="", type="")
					a(href="#").read-more Read more
	.row
		.col-sm-4
			a(href="#").news_box
				.news_box_img(style='background-image:url(' + require('./components/images/news-photo-4.jpg') + ')')
				.news_box_data
					.day 18
					span
						.month december 2017
						p Lorem ipsum dolor sit
				p.news_box_text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo pellentesque tincidunt. Pellentesque at consectetur.
				object(data="", type="")
					a(href="#").read-more Read more
		.col-sm-4
			a(href="#").news_box
				.news_box_img(style='background-image:url(' + require('./components/images/news-photo-5.jpg') + ')')
				.news_box_data
					.day 18
					span
						.month december 2017
						p Lorem ipsum dolor sit
				p.news_box_text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo pellentesque tincidunt. Pellentesque at consectetur.
				object(data="", type="")
					a(href="#").read-more Read more
		.col-sm-4
			a(href="#").news_box
				.news_box_img(style='background-image:url(' + require('./components/images/blog-bg-1.jpg') + ')')
				.news_box_data
					.day 18
					span
						.month december 2017
						p Lorem ipsum dolor sit
				p.news_box_text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo pellentesque tincidunt. Pellentesque at consectetur.
				object(data="", type="")
					a(href="#").read-more Read more